.container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

input[type='text'],
input[type='number'],
select,
textarea {
  font-size: 16px;
}

.header {
  text-align: center;
  font-size: 1.5em;
}

.create-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 90%;
  max-width: 400px;
}

.create-header {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  font-size: 1em;
}

.create-form label {
  margin-top: 10px;
}

.create-form #id_name {
  height: 13px;
}

.create-button {
  margin-top: 10px;
}

.activities {
  margin: auto;
  margin-bottom: 20px;
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 400px;
}

.activity {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.activity:nth-child(2n) {
  background-color: #eee;
}

.activity .activity-name {
  flex-grow: 1;
  align-self: center;
}

.delete {
  color: red;
  border: none;
  background-color: transparent;
}
