<li class="fn-activity activity" data-id="{{ activity.pk }}">
  <span class="activity-name">{{ activity.name }}</span>
  <select class="fn-priority priority">
    {% for value, label in priorities %}
      <option value="{{ value }}" {% if value == activity.priority %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
  <button class="fn-delete delete">X</button>
</li>
