{% extends "base.html" %} {% block content %}
<div class="container">
    <h1 class="header">Activities</h1>
    <ol class="activities">
        {% for activity in activities %}
            {% include "_activity.html" with activty=activity.name %}
        {% endfor %}
    </ol>
    <form action="." method="post" class="create-form">
        <h3 class="create-header">Create new activity</h3>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Create" class="create-button" />
    </form>
</div>
{% endblock %}
